@font-face {
  font-family: "OneDrips";
  src: url("./fonts/Onedrips.otf") format("opentype");
  /* Add more src for different font weights/styles if available */
}

@font-face {
  font-family: "BomberUrban-Regular";
  src: url("./fonts/BomberUrban-Regular.otf") format("opentype");
  /* Add more src for different font weights/styles if available */
}

@font-face {
  font-family: "Deardorf Demo";
  src: url("./fonts/Deardorf Demo.otf") format("opentype");
  /* Add more src for different font weights/styles if available */
}

html {
  margin: auto 0;
  text-align: center;
}

.test {
  border: 2px solid red;
}

.font-one {
  font-family: "OneDrips", sans-serif;
}

.font-two {
  font-family: "BomberUrban-Regular", sans-serif;
}

.font-three {
  font-family: "Deardorf Demo", sans-serif;
}

.not-allowed:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cart-button {
  position: relative;
}

.added-to-cart {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #727584;
  color: white;
  padding: 8px 16px;
  border-radius: 12px;
  width: max-content;
  animation: slide-up 1s forwards;
}

@keyframes slide-up {
  0% {
    opacity: 1;
    transform: translate(-50%, 0%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
